customtkinter
openai
python-dotenv
google-cloud-speech
sounddevice==0.4.6
numpy==1.26.4
cffi==1.16.0
pyinstaller
tiktoken
watchdog
markdown
tkinterweb
langchain-community
langchain-unstructured
unstructured
pypdf
python-docx